h1 {
    font-family: 'Roboto Mono', monospace;
    color: white;
}


h2 {
    font-family: 'Roboto Mono', monospace;
}

h4 {

    color: white;
    font-family: 'Roboto Mono', monospace;
}


#minicontainer-3 {
    color: white;
}

#displayImg {
    display: flex;
    max-height: 450px;
    max-width: 350px;
    /*height: auto;*/
   /* width: auto;*/
}

body {
    background: url("../images/wallpaper_doge.jpg");
}

#footerTag {
    font-size: 30px;
}

#currentFavImage {
    display: flex;
    max-height: 450px;
    /*max-width: 400px;*/
    /*height: auto;*/
    width: auto;
}

/* the buttons show up really big and the images show up really small, can change button positions */

@media screen and (max-width: 550px) {
    #container {
        flex-direction: column;
    }
}