:root {
    --textColor: white;
}

body {
    background: url("../images/wallpaper_doge.jpg");
}

h1 {
    font-family: 'Roboto Mono', monospace;
    color: var(--textColor);
    font-weight: 400;
}

#displayImg {
    display: flex;
    max-height: 400px;
    max-width: 650px;
    height: auto;
    width: auto; 
}

#minicontainer-3 {
    color: var(--textColor);
}

#favHeader {
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
}

h4 {
    color: var(--textColor);
    font-family: 'Roboto Mono', monospace;
}

#currentFavImage {
    display: flex;
    max-height: 400px;
    max-width: 650px;
    min-width: 280px;
    min-height:447px;
}

#footerTag {
    font-size: 30px;
    margin: 10px;
    background: rgb(128, 128, 128, 0.25);
}

/* Media query formatting not entirely finished at this point; needs revising */
@media screen and (max-width: 550px) {
    #container {
        flex-direction: column;
    }
}