h1 {
    background-color: seafoam;
    font-family: 'Roboto Mono', monospace;
    color: white;
}


/*
h1 {
    display: flex;
    justify-content: center;
    background-color: seafoam;
    font-family: 'Roboto Mono', monospace;
} 

 #container {
     margin-left: 20px;
     margin-right: 20px;
 }

#minicontainer-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#aboveDogeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dogeBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#displayImg {}

#minicontainer-2 {
    display: flex;
    justify-content: center;
}

#minicontainer-3 {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
}
*/

#minicontainer-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#displayImg {
    display: flex;
    max-height: 500px;
    max-width: 600px;
    height: auto;
    width: auto;
}

body {
    background: url('https://i.pinimg.com/originals/7a/1e/c0/7a1ec030b9be33f0d76c0b05f7416ea6.jpg')
}

#footerTag {
    font-size: 30px;
}